/* Global Rules Start */

:root {
	--main-orange-color: #fb8500;
	--main-blue-color: #023047;
	--main-transition: 0.3s;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Small Screen */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

/* Medium Screen */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

/* Large Screen */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

/* Global Rules End */

.container {
	position: relative;
}

.container > div {
	width: fit-content;
	margin: 20px auto 0;
}

.container > div > img {
	max-width: 100%;
}

.container .left,
.container .right {
	position: absolute;
	top: 50%;
	cursor: pointer;
	padding: 20px;
	color: var(--main-orange-color);
	z-index: 1;
	font-size: 40px;
}

.container .left {
	left: 1px;
	transform: translate(50%, -50%);
}

.container .right {
	right: 1px;
	transform: translate(-50%, -50%);
}

.container .circles i {
	cursor: pointer;
	color: var(--main-blue-color);
	transition: var(--main-transition);
}

.container .circles i:hover {
	color: var(--main-orange-color);
}
